<link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/fullcalendar/2.6.0/fullcalendar.css' />
<link rel="stylesheet" type="text/css" href="/css/calendar.css">

<main>
    <h3>1. 원하시는 날짜를 선택해주세요.</h3>
    <div id='calendar'></div>
</main>

<script src='https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.11.1/moment.min.js'></script>
<script src='https://cdnjs.cloudflare.com/ajax/libs/fullcalendar/2.6.0/fullcalendar.min.js'></script>
<script type="text/javascript">
    $(document).ready(function() {
        $('#calendar').fullCalendar({
            theme: false,
            defaultView: 'month',
            validRange: {
              start: '2017-10-30'
            },
            editable: true,
            header: {
                left: 'prev,next',
                center: 'title',
                right: ''
            },
        });

        $('.fc-view').on('click', function (e) {
            if (!e.target.classList.contains('fc-day') && !e.target.classList.contains('fc-day-number')) {
                return;
            }

            if (e.target.classList.contains('fc-past')) {
              return;
            }

            if (!e.target.classList.contains('fc-sat') && !e.target.classList.contains('fc-sun')) {
              return;
            }

            window.location.href = '/availability?date=' + e.target.dataset.date;
        });
    });
</script>
