<header>
    <h1>바닐라 스터디</h1>
    <h2>자바스크립트를 사랑하는 분들을 위한 작업 공간을 제공합니다. 평일은 따로 문의주세요.</h2>
</header>

<main>
    <div class="seating-map">
        <div class="seating-table">
            <div class="seat">
                <div class="seat-number">
                    1번
                </div>
            </div><div class="seat">
                <div class="seat-number">
                    2번
                </div>
            </div><div class="seat">
                <div class="seat-number">
                    3번
                </div>
            </div><div class="seat">
                <div class="seat-number">
                    4번
                </div>
            </div>
        </div><div class="seating-table">
            <div class="seat">
                <div class="seat-number">
                    5번
                </div>
            </div><div class="seat">
                <div class="seat-number">
                    6번
                </div>
            </div><div class="seat">
                <div class="seat-number">
                    7번
                </div>
            </div><div class="seat">
                <div class="seat-number">
                    8번
                </div>
            </div>
        </div><div class="seating-table standing-table">
            <div class="seat">
                <div class="seat-number">
                    9번
                </div>
            </div><div class="seat">
                <div class="seat-number">
                    10번
                </div>
            </div>
        </div>
    </div>

    <div class="seating-map">
        <div class="seating-table">
            <div class="seat">
                <div class="seat-number">
                    11번
                </div>
            </div><div class="seat">
                <div class="seat-number">
                    12번
                </div>
            </div><div class="seat">
                <div class="seat-number">
                    13번
                </div>
            </div><div class="seat">
                <div class="seat-number">
                    14번
                </div>
            </div>
        </div><div class="seating-table">
            <div class="seat">
                <div class="seat-number">
                    15번
                </div>
            </div><div class="seat">
                <div class="seat-number">
                    16번
                </div>
            </div><div class="seat">
                <div class="seat-number">
                    17번
                </div>
            </div><div class="seat">
                <div class="seat-number">
                    18번
                </div>
            </div>
        </div><div class="seating-table standing-table">
            <div class="seat">
                <div class="seat-number">
                    19번
                </div>
            </div><div class="seat">
                <div class="seat-number">
                    20번
                </div>
            </div>
        </div>
    </div>
</main>
