<link rel="stylesheet" href="https://unpkg.com/purecss@1.0.0/build/pure-min.css" integrity="sha384-nn4HPE8lTHyVtfCBi5yW9d20FjT8BJwUXyWZT9InLYax14RDjBj46LmSztkmNP9w" crossorigin="anonymous">

<link rel="stylesheet" type="text/css" href="/css/reservation.css">

<main>
    <div class="container">
        <form action="/reservation" method="post" class="pure-form pure-form-aligned">
            <fieldset>
                <div class="pure-control-group">
                    <label for="date">예약 날짜</label>
                    <input type="text" name="date" class="pure-input-1-4" id="date" value="{{ date }}" readonly="readonly" required>
                </div>
                <div class="pure-control-group">
                    <label for="seat">예약 좌석</label>
                    <input type="text" name="seat_number" class="pure-input-1-4" id="seat" value="{{ seat_number }}" readonly="readonly" required>
                </div>
                <div class="pure-control-group">
                    <label for="email">이메일 주소</label>
                    <input type="email" name="email" class="pure-input-1-4" id="email" placeholder="이메일 주소">
                </div>
                <div class="pure-control-group">
                    <label for="username">예약자 이름</label>
                    <input type="text" name="username" class="pure-input-1-4" id="username" placeholder="예약자 이름" required>
                    <span class="pure-form-message-inline">필수 입력 사항입니다.</span>
                </div>
                <div class="pure-control-group">
                    <label for="password">비밀번호</label>
                    <input type="password" name="password" class="pure-input-1-4" id="password" placeholder="삭제를 위한 비밀번호" required>
                    <span class="pure-form-message-inline">필수 입력 사항입니다.</span>
                </div>
                <div class="pure-controls">
                    <button type="submit" class="submit pure-button pure-button-primary">예약</button>
                </div>
                <div class="pure-controls">
                    <span class="pure-form-message-inline error-message">올바른 값을 입력해주세요.</span>
                </div>
            </fieldset>
        </form>
    </div>
</main>

<div class="overlay">
    <img src="/images/spinner.gif">
</div>

<script type="text/javascript">
    var nameFieldElement = document.querySelector('#username');
    var passwordFieldElement = document.querySelector('#password');
    var submitButtonElement = document.querySelector('.submit.pure-button');
    var errorMessageElement = document.querySelector('.error-message');

    $('#password, #username').on('change textInput input', function () {
        if (errorMessageElement.style.display === 'inline-block') {
            errorMessageElement.style.display = 'none';
        }
    });

    submitButtonElement.addEventListener('click', function (e) {
        console.log('fff');

        if (nameFieldElement.value.trim().length < 1 || passwordFieldElement.value.trim().length < 1) {
            errorMessageElement.style.display = 'inline-block';
            e.preventDefault();

            return false;
        }

        document.querySelector('.overlay').style.display = 'block';
    });
</script>
