<link rel="stylesheet" type="text/css" href="/css/success.css">

<main>
    <div class="container">
        <h3>예약이 성공적으로 되었습니다.</h3>
        <div class="success-message">
            <a href="/">홈으로 돌아가기</a>
        </div>
    </div>
</main>
