<link rel="stylesheet" type="text/css" href="/css/success.css">

<main>
    <div class="container">
        <figure>
            <img src="/images/thumbs_up.png" alt="성공">
        </figure>
        <div class="success-message">
            <a href="/">홈으로 돌아가기</a>
        </div>
    </div>
</main>
