<!doctype html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width">
    <title>바닐라 스터디</title>
    {{#if ENV_DEVELOPMENT}}
        <script src="http://localhost:35729/livereload.js"></script>
    {{/if}}
</head>
<body>
    <header>
        <figure>
            <a href="/">
                <img src="/images/logo_white_text.png" alt="바닐라 스터디">
            </a>
        </figure>
        <h1>바닐라 스터디</h1>
        <h2>자바스크립트 개발자들을 위한 공간 대여</h2>
    </header>

    {{{body}}}

    <footer>
        <div class="footer-contents">
            <ul>
                <li>
                    <img class="footer-logo" src="/images/logo_white_text.png" alt="바닐라 스터디">
                </li>
                <li>주소: 서울특별시 서초구 서초동 1302-15, 덕일빌딩 4층</li>
                <li>전화번호: 02-6317-7279</li>
                <li>
                    <a href="mailto:info@vanillacoding.co">이메일: info@vanillacoding.co</a>
                </li>
            </ul>
        </div>
    </footer>
</body>
</html>
