<!doctype html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
    <meta property="og:type" content="website">
    <meta property="og:title" content="바닐라 스터디">
    <meta property="og:url" content="https://vanillacoding.co">
    <meta property="og:image" content="/images/logo_bg_long.png">
    <meta property="og:site_name" content="바닐라 스터디 Vanilla Study">
    <meta property="description" content="자바스크립트 개발자들을 위한 공간 대여">
    <meta property="og:description" content="자바스크립트 개발자들을 위한 공간 대여">
    <meta property="twitter:title" content="Home">
    <meta property="twitter:url" content="https://vanillacoding.co">
    <meta property="twitter:description" content="자바스크립트 개발자들을 위한 공간 대여">
    <meta property="twitter:image" content="/images/logo_bg_long.png">
    <meta property="keywords" content="자바스크립트, 웹, 개발자, 코딩, 프론트엔드, 네트워킹">
    <meta name="description" content="자바스크립트 개발자들을 위한 공간 대여">
    <title>바닐라 스터디</title>
    <link rel="shortcut icon" type="image/png" href="/images/favicon.png" />
    {{#if ENV_DEVELOPMENT}}
        <script src="http://localhost:35729/livereload.js"></script>
    {{/if}}
    <script src='http://code.jquery.com/jquery-1.11.3.min.js'></script>
</head>
<body>
    <header>
        <figure>
            <a href="/">
                <img src="/images/logo_white_text.png" alt="바닐라 스터디">
            </a>
        </figure>
        <h1>바닐라 스터디</h1>
        <h2>자바스크립트 개발자들을 위한 공간 대여</h2>
    </header>

    {{{body}}}

    <footer>
        <div class="footer-contents">
            <ul>
                <li>
                    <img class="footer-logo" src="/images/logo_white_text.png" alt="바닐라 스터디">
                </li>
                <li>주소: 서울특별시 서초구 서초동 1302-15, 덕일빌딩 4층</li>
                <li>전화번호: 02-6317-7279</li>
                <li>
                    <a href="mailto:info@vanillacoding.co">이메일: info@vanillacoding.co</a>
                </li>
            </ul>
        </div>
    </footer>

    <script type="text/javascript">
        $(document).ready(function () {
            var $window = $(window);

            if ($window.width() < 1000 && window.location.pathname !== '/mobile-guide') {
                window.location.href = '/mobile-guide';
            } else if ($window.width() > 1000 && window.location.pathname === '/mobile-guide') {
                window.location.href = '/';
            }
        });
    </script>
</body>
</html>
