<!doctype html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width">
    <title>바닐라 스터디</title>
    {{#if ENV_DEVELOPMENT}}
        <script src="http://localhost:35729/livereload.js"></script>
    {{/if}}
</head>
<body>
    <header>
        <figure>
            <a href="/">
                <img src="/images/logo.png">
            </a>
        </figure>
        <h2>자바스크립트 개발자들을 위한 공간 대여</h2>
    </header>

    {{{body}}}
</body>
</html>
